{% extends "base.html" %}
{% block content %}

<div class="collection-header">
    <h3>{{ collection_name }}</h3>
</div>

<div id="collection-grid" class="grid">
    <div class="row">
        <div class="col" id="col-1"></div>
        <div class="col" id="col-2"></div>
        <div class="col" id="col-3"></div>
        <div class="col" id="col-4"></div>
    </div>
</div>

<script>
    const serverURL = "http://192.168.249.170:5030";
</script>

<script src="{{ url_for('static', filename='js/collection.js') }}"></script>

{% endblock %}
